<div class="input-group input-group-md">
  <input name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control metro" type="text">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default metro"><i class="fa fa-search"></i></button>
  </span>
</div>